@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: Roboto Mono;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

body {
  background-color: #242424;
  color: #ffffff;
}